/* Progress */

.progress {
    position: absolute;
    display: block;
    bottom: 0;
    left: -20px;
    width: 0;
    height: 0;
    border: 10px solid var(--color-key);
    transition: width 0.2s linear;
    border-right-color: transparent;
    box-sizing: content-box;
    transform: translateZ(0);
    clip: rect(10px 1044px 20px 20px);
}

.progress[style*='100%'] {
    padding-left: 10px;
}

/* List */

.shower.list .progress {
    display: none;
}

/* Full */

.shower.full .progress {
    display: block;
}

/* Print */

@media print {
    .shower.list .progress,
    .shower.full .progress {
        display: none;
    }
}
